<div class="sidebar">
    <ul class="main-menu">
        <%- partial('partials/main_menu') %>
    </ul>
    <div class="list">
        <h2>
            <% var type = page_type(page); %>
            <%- type === 'api' ? 'API' : (type.charAt(0).toUpperCase() + type.slice(1)) %>
        </h2>
        <%
          var p, path;
          _.forEach(site.data.pageMenu[type], function(pages, category) {
            if (category !== 'root') {
        %>
              <h3><%- category %></h3>
        <%  } %>
            <ul class="menu-root">
              <%
                _.forEach(pages, function(html, name) {
                  path = page_path_from_menu(type, html, name);
                  p = site.pages.find({path: path});
              %>
                  <li>
                      <a href="<%- config.root + path %>" class="sidebar-link<%- page.path === path ? ' current' : '' %>"><%- name %></a>
                  </li>
              <%
                });
              %>
            </ul>
        <% });  %>
    </div>
</div>
