<div class="sidebar-backdrop"></div>

<div id="sidebar" class="sidebar">
  <div class="list">
    <div class="sidebar-menu">
      <%- partial('partials/menu') %>
    </div>

    <div class="q-version">
      v<%- latest_quasar_version() %>
    </div>
    <div class="support-link">
      <a href="<%- config.root %>support-quasar-framework.html">
        <i class="fa fa-ambulance"></i>
        Support Quasar
      </a>
    </div>
    <br><br>
    <div style="margin-bottom: 7px">Proudly sponsored by:</div>
    <div style="margin-bottom: 7px">
      <a href="http://truelogic.com/" target="_blank">
        <img src="/images/logo_truelogic.png" height="110px" width="110px" />
      </a>
      <a href="https://www.tayloredtechnology.net" target="_blank">
        <img src="/images/logo_tayloredtechnology_small.jpeg" height="110px" width="110px" />
      </a>
    </div>
    <div style="margin-bottom: 7px">
      <a href="http://campuscloudservices.com/" target="_blank">
        <img src="/images/logo_campuscloud.png" width="200px" />
      </a>
    </div>
    <div class="q-older-version">
      <a href="http://v0-14.quasar-framework.org">
        <i class="fa fa-book"></i>
        Go to docs for older v0.14
      </a>
      <br>
      <a href="http://v0-13.quasar-framework.org">
        <i class="fa fa-book"></i>
        Go to docs for older v0.13
      </a>
    </div>
    <br>

    <h2>
      <% var type = page_type(page); %>
      <%-
        page.blog_index || page.search_index || page.layout === 'post' ?
        '' : (type === 'api' ? 'API' : type.charAt(0).toUpperCase() + type.slice(1))
      %>
    </h2>
    <%
      var p, path;
      _.forEach(site.data.pageMenu[type], function(pages, category) {
        if (category !== 'root') {
    %>
          <h3><%- category %></h3>
    <%  } %>
        <ul class="menu-root">
          <%
            _.forEach(pages, function(html, name) {
              path = page_path_from_menu(type, html, name);
              p = site.pages.find({path: path});
          %>
            <li>
              <a href="<%- config.root + path %>" class="sidebar-link<%- page.path === path ? ' current' : '' %>"><%- name %></a>
            </li>
          <% }); %>
        </ul>
    <% }); %>
  </div>

  <% if (page.layout === 'post') { %>
  <div class="list">
    <h2>Recent Posts</h2>
    <ul>
      <% site.posts.sort('date', -1).limit(10).each(function (post) { %>
        <li>
          <a href="<%- config.root + post.path %>" class="sidebar-link<%- page.title === post.title ? ' current' : '' %>"><%- post.title %></a>
        </li>
      <% }) %>
    </ul>
  </div>
  <% } %>
</div>
