<div class="qwb-sidebar inverted">
  <a
    class="qwb-logo"
    href="<%- config.root %>"
    title="v<%- latest_quasar_version() %>"
  >
    <img
    width="32" height="32" src="https://cdn.rawgit.com/quasarframework/quasar-art/756e89a6/dist/svg/quasar-logo.svg"/>
    <strong class="qwb-logotype">Quasar Framework</strong>
    <em>v<%- latest_quasar_version() %></em>
  </a>

  <span class="qwb-input search right icon">
    <input
      type="text"
      title="Type here and press ENTER to search"
      placeholder="Search..."
    />
    <i class="fa fa-search"></i>
  </span>

  <div class="qwb-menu simple centered fluid">
    <%- partial('partials/social-links') %>
  </div>

  <div class="qwb-accordion">
    <% for (section in site.data.pageMenu) { %>
    <h4
      class="qwb-toggle"
      href="<%- config.root %><%- section %>/"
    >
      <%- section %>
      <i class="fa fa-chevron-down"></i>
    </h4>
    <div class="list" data-gumshoe-header>
      <% for (category in site.data.pageMenu[section]) { %>
      <% if (category !== 'root') { %>
      <h5><%- category %></h5>
      <% } %>
      <ul data-gumshoe>
        <% for (name in site.data.pageMenu[section][category]) {
            var
              html = site.data.pageMenu[section][category][name]
              path = page_path_from_menu(section, html, name),
              p = site.pages.find({ path: path })
            ;
        %>
        <li>
          <a
            href="<%- config.root + path %>"
            class="<%- page.path === path ? 'current' : '' %>"
          >
            <%- name %>
          </a>
        </li>
        <% } %>
      </ul>
    <% } %>
    </div>
  <% } %>
  </div>
</div>
