<div class="sidebar-backdrop"></div>

<div id="sidebar" class="sidebar">
  <div class="list">
    <div class="sidebar-menu">
      <%- partial('partials/menu') %>
    </div>

    <div class="q-version">
      v<%- latest_quasar_version() %>
    </div>
    <div class="support-link">
      <a href="<%- config.root %>support-quasar-framework.html">
        <i class="fa fa-ambulance"></i>
        Support Quasar
      </a>
    </div>

    <br><br>
    <a
      href="http://beta.quasar-framework.org"
      target="_blank"
      class="sidebar-link current"
    >
      <i class="fa fa-hand-peace-o"></i>
      Check v0.14 beta (docs & demo)
    </a>
    <br><br>

    <h2>
      <% var type = page_type(page); %>
      <%-
        page.blog_index || page.search_index || page.layout === 'post' ?
        '' : (type === 'api' ? 'API' : type.charAt(0).toUpperCase() + type.slice(1))
      %>
    </h2>
    <%
      var p, path;
      _.forEach(site.data.pageMenu[type], function(pages, category) {
        if (category !== 'root') {
    %>
          <h3><%- category %></h3>
    <%  } %>
        <ul class="menu-root">
          <%
            _.forEach(pages, function(html, name) {
              path = page_path_from_menu(type, html, name);
              p = site.pages.find({path: path});
          %>
            <li>
              <a href="<%- config.root + path %>" class="sidebar-link<%- page.path === path ? ' current' : '' %>"><%- name %></a>
            </li>
          <% }); %>
        </ul>
    <% }); %>
  </div>

  <% if (page.layout === 'post') { %>
  <div class="list">
    <h2>Recent Posts</h2>
    <ul>
      <% site.posts.sort('date', -1).limit(10).each(function (post) { %>
        <li>
          <a href="<%- config.root + post.path %>" class="sidebar-link<%- page.title === post.title ? ' current' : '' %>"><%- post.title %></a>
        </li>
      <% }) %>
    </ul>
  </div>
  <% } %>
</div>
