<div id="hero">
  <div class="inner">
    <ul id="nav">
      <%- partial('partials/main_menu') %>
    </ul>
    <div id="logo-wrap">
      <img id="logo" src="<%- config.root %>images/quasar-logo.png">
      <h1>Quasar Framework</h1>
      <p>
        Modern HTML5 Single Page Application front-end framework on steroids.
      </p>
      <p><strong>Working on 1<sup>st</sup> release.</strong></p>
      <div class="down"><img src="<%- config.root %>images/down.png"></div>
    </div>
  </div>
</div>

<div class="section">
  <div class="inner second-desc">
    <p>Build on one. Use it on all.</p>
    <p><em>* Including native mobile Apps. *</em></p>
    <img src="<%- config.root %>images/responsive-banner.png">
  </div>
  <div class="feats">
    <div class="feat">
      <i class="icon fa fa-bolt"></i>
      <h2>Speeds Up Development</h2>
      <p>Most of the heavy-lifting is already done (through Quasar CLI). Your focus is on your App content rather how the App is built and optimized for each platform.</p>
    </div>
    <div class="feat">
      <i class="icon fa fa-users"></i>
      <h2>Focused on User Experience</h2>
      <p>Components provide great feedback to the user while the responsive user interface allows for a unified user experience across mobile/desktop platforms.</p>
    </div>
    <div class="feat">
      <i class="icon fa fa-book"></i>
      <h2>Great Documentation</h2>
      <p>Everything is documented in crystal clear fashion, with examples, guides and tips.</p>
    </div>
  </div>
</div>

<div id="features">
  <div class="feats">
    <div class="feat">
      <i class="icon fa fa-plane"></i>
      <h2>Time Saver</h2>
      <p>Out of the box code boilerplating, build system, live preview, test setup, image optimizations and many more.</p>
    </div>
    <div class="feat">
      <i class="icon fa fa-exchange"></i>
      <h2>Two-Way Data Binding</h2>
      <p>Write smart reactive apps. No need to directly touch DOM. Custom HTML tags.</p>
    </div>
    <div class="feat">
      <i class="icon fa fa-arrows-alt"></i>
      <h2>Wide Support</h2>
      <p>iOS, Android, Windows Phone, Blackberry, Google Chrome, Firefox, IE/Edge.</p>
    </div>
    <div class="feat">
      <i class="icon fa fa-trophy"></i>
      <h2>Ensures Code Quality</h2>
      <p>Quasar CLI ensures code quality out of the box (linters, app validators, test setup).</p>
    </div>
    <div class="feat">
      <i class="icon fa fa-cubes"></i>
      <h2>Web Components</h2>
      <p>
        Contribute or use one from the built-in ecosystem. Write as few lines of code
        as possible and yet enrich your App with beautifully crafted functionality.
      </p>
    </div>
    <div class="feat">
      <i class="icon fa fa-refresh fa-spin"></i>
      <h2>Live Preview</h2>
      <p>
        Watch click/scroll/form input synchronized browsers auto-refresh on source code change. Responsive View
        also available to quickly switch between desktop/tablet/phone screen sizes (with orientation too).
      </p>
    </div>
    <div class="feat">
      <i class="icon fa fa-graduation-cap"></i>
      <h2>Write Reusable Code</h2>
      <p>Use built-in reactive HTML tags as web components or write your own. It's easy to reuse them, even across multiple Apps.</p>
    </div>
    <div class="feat">
      <i class="icon fa fa-industry"></i>
      <h2>Build System</h2>
      <p>
        Development with sourcemaps or minified & optimized for production out of the box, no configuration needed.
        Bundles the source code in such a way that it ensures the smallest footprint possible.
      </p>
    </div>
    <div class="feat">
      <i class="icon fa fa-language"></i>
      <h2>Semantic API</h2>
      <p>Intuitive API syntax from natural languages.</p>
    </div>
    <div class="feat">
      <i class="icon fa fa-gears"></i>
      <h2>Built-in Widgets</h2>
      <p>Use a large variety of built-in widgets/plugins or write your own and share them.</p>
    </div>
    <div class="feat">
      <i class="icon fa fa-newspaper-o"></i>
      <h2>Powerful Layouts</h2>
      <p>
        Out of the box multiple layouts. Highly Customizable.
        Let Quasar worry about the layout for each environment (browser, Android, iOS and all others).
        <strong>You just focus on the content.</strong>
      </p>
    </div>
    <div class="feat">
      <i class="icon fa fa-github"></i>
      <h2>Open Source</h2>
      <p>Help with fixing bugs or write new features/widgets/plugins.</p>
    </div>
  </div>
</div>

<div id="footer">
  <p class="buttons">
    <a href="<%- config.root %>guide/index.html" class="button">What is Quasar?</a>
    <a href="<%- config.root %>guide/installation.html" class="button">Install & Create an App</a>
  </p>
  <p>Released under the <a href="http://opensource.org/licenses/MIT" target="_blank">MIT License</a></p>
  <p>
    Copyright <i class="fa fa-copyright"></i>
    <%- date(Date.now(), 'YYYY') %>
    Razvan Stoenescu <i class="fa fa-bullhorn"></i></p>
</div>
