<div id="hero">
  <div class="inner">
    <ul id="nav">
      <%- partial('partials/main_menu') %>
    </ul>
    <div id="logo-wrap">
      <img id="logo" src="<%- config.root %>images/quasar-logo.png">
      <h1>Quasar Framework</h1>
    </div>
    <p class="desc">
      <i class="fa fa-desktop"></i> <i class="fa fa-tablet"></i> <i class="fa fa-mobile"></i>
      <br>
      Build desktop/mobile websites & phone/tablet apps simultaneously.
      <br>
      <strong>Not ready yet. Working on 1<sup>st</sup> release.</strong>
    </p>
    <p class="buttons">
      <a href="<%- config.root %>guide/installation.html" class="button">Installation</a>
    </p>
  </div>
  <div class="down"><img src="<%- config.root %>images/down.png"></div>
</div>

<div id="features">
  <div class="feats">
    <div class="feat">
      <i class="icon fa fa-plane"></i>
      <h2>Focus on App Code</h2>
      <p>Don't lose time with boilerplating or a build system</p>
    </div>
    <div class="feat">
      <i class="icon fa fa-tablet"></i>
      <h2>Desktop & Mobile App</h2>
      <p>Write code once, deploy as a desktop/mobile website or as a Mobile App</p>
    </div>
    <div class="feat">
      <i class="icon fa fa-exchange"></i>
      <h2>Two-Way Data Binding</h2>
      <p>Write smart reactive apps. No need to directly touch DOM.</p>
    </div>
    <div class="feat">
      <i class="icon fa fa-dot-circle-o"></i>
      <h2>Focus on Content</h2>
      <p>Let Quasar Framework worry about the layout for each environment (browser, Android, iOS, ...)</p>
    </div>
    <div class="feat">
      <i class="icon fa fa-graduation-cap"></i>
      <h2>Write Reusable Code</h2>
      <p>Use built-in reactive HTML tags or write your own</p>
    </div>
    <div class="feat">
      <i class="icon fa fa-table"></i>
      <h2>Powerful Grid Widget</h2>
      <p>If you intend to display data in a nice format, use the built-in Grid</p>
    </div>
    <div class="feat">
      <i class="icon fa fa-industry"></i>
      <h2>Automatic Build</h2>
      <p>Development with sourcemaps or minified & optimized for production</p>
    </div>
    <div class="feat">
      <i class="icon fa fa-refresh"></i>
      <h2>Live Preview</h2>
      <p>Add/Remove/Change source files and live-preview in browser(s) without the need to refresh</p>
    </div>
    <div class="feat">
      <i class="icon fa fa-cog"></i>
      <h2>Built-in Widgets</h2>
      <p>Use a large variety of built-in widgets/plugins or write your own</p>
    </div>
  </div>
</div>

<div id="footer">
  <a class="start" href="<%- config.root %>guide/index.html">Get Started</a>
  <p>Released under the <a href="http://opensource.org/licenses/MIT" target="_blank">MIT License</a></p>
  <p>Copyright (c) <%- date(Date.now(), 'YYYY') %> Razvan Stoenescu</p>
</div>
