<div class="q-header">
  <%- partial('partials/standalone-top-navigation') %>

  <div class="q-intro">
    <img src="/images/responsive-logo.png">
    <div class="q-container">
      <h1>Quasar Framework</h1>
      <h2>Empowering your websites and apps</h2>
      <p>
        Build responsive websites, PWAs, hybrid mobile Apps (that look native!) and Electron apps,
        all simultaneously using same codebase, powered with Vue.
        <br><br>
        <i class="fa fa-hand-o-right"></i>
        Demo:
        [ <a
          href="<%- config.root %>quasar-play/android/index.html"
          target="_blank"
        >
          Material theme
        </a>
        ] [
        <a
          href="<%- config.root %>quasar-play/apple/index.html"
          target="_blank"
        >
          iOS theme
        </a>
        ]
        <br>
        <a
          href="https://github.com/quasarframework/quasar/releases"
          target="_blank"
        >
          <i class="fa fa-send"></i>
          Release notes (& changelog) for v<%- latest_quasar_version() %>
        </a>
        <br><br>
        <a href="<%- config.root %>support-quasar-framework.html">
          <i class="fa fa-medkit"></i>
          Please help Quasar by supporting it.
        </a>
      </p>
      <div class="q-intro-actions">
        <a class="button" href="/guide/index.html">
          <i class="fa fa-bolt"></i>
          Get started in under a minute
        </a>
        <a class="button" href="https://github.com/quasarframework/quasar" target="_blank">
          <i class="fa fa-github"></i>
          Github
        </a>
        <a class="button" href="https://twitter.com/quasarframework" target="_blank">
          <i class="fa fa-twitter"></i>
          Follow @quasarframework
        </a>
      </div>
    </div>
    <br><br>
    <img class="arrow" src="/images/down.png">
  </div>
</div>

<div class="q-feature" style="min-height: 600px">
  <div class="q-container q-sponsors" style="text-align: center;">
    <h2>Proudly sponsored by:</h2>
    <a href="http://truelogic.com/" target="_blank">
      <img src="/images/truelogic_logo.png" />
    </a>
    <br>
    <a href="http://campuscloudservices.com/" target="_blank">
      <img src="/images/campuscloud_logo.png" height="50px" width="250px" />
    </a>
    <a href="https://www.jugglestreet.com" target="_blank">
      <img src="/images/jugglestreet_logo.png" height="50px" width="200px" />
    </a>
  </div>
</div>

<div class="q-feature">
  <div class="q-container q-feature-list">
    <div class="q-feature-item">
      <i class="icon fa fa-code-fork"></i>
      <h4>
        All Platforms in One Go
      </h4>
      <p>
        One source code for all platforms simultaneously: responsive desktop/mobile website, PWAs (Progressive Web Apps),
        native mobile Apps (that really look native!) and Electron apps.
      </p>
    </div>
    <div class="q-feature-item">
      <i class="icon fa fa-bolt"></i>
      <h4>
        Top Class, Fast Web Components
      </h4>
      <p>
        There's almost a component for every needs you might have. All these components are carefully crafted to offer
        the best possible experience to your users. **Quasar is designed with performance & responsiveness in mind** --
        so the overhead of using Quasar is barely noticeable. We take great pride in this.
      </p>
    </div>
    <div class="q-feature-item">
      <i class="icon fa fa-gear"></i>
      <h4>
        Best practices integrated by default
      </h4>
      <p>
        You don't need to worry about what the best practices in web development are. You get that for free out of the box.
        HTML/CSS/JS minification, cache busting, tree shaking, sourcemapping, code-splitting & lazy loading, ES6 transpiling,
        linting code. This just barely scratches the surface. Quasar takes care of this for you. No configuration needed.
      </p>
    </div>
    <div class="q-feature-item">
      <i class="icon fa fa-google"></i>
      <i class="icon fa fa-apple"></i>
      <h4>
        Two Themes (more to come)
      </h4>
      <p>
        Material theme and iOS theme.
      </p>
    </div>
    <div class="q-feature-item">
      <i class="icon fa fa-sign-in"></i>
      <h4>
        Progressively migrate your existing project
      </h4>
      <p>
        Quasar offers an UMD (Unified Module Definition) version which means you can add a CSS and JS HTML tag into existing project
        and you're ready to use it. No build step is required.
      </p>
    </div>
    <div class="q-feature-item">
      <i class="icon fa fa-star"></i>
      <h4>
        Unparalleled developer experience through Quasar CLI
      </h4>
      <p>
        * State preserving hot-reload
        <br>* State preserving compilation error overlay
        <br>* Lint-on-save with ESLint
        <br>* ES6 code transpiling
        <br>* Sourcemaps
        <br>...and much more (this is barely scratching the surface)
      </p>
    </div>
    <div class="q-feature-item">
      <i class="icon fa fa-line-chart"></i>
      <h4>
        Get up to speed fast
      </h4>
      <p>
        The top class starter kit will make it easy for you to get up to speed. Bring an idea to reality in record time.
        All the heavy lifting is done for you, not by you. You will just need to focus on your features and let the
        boilerplating be done by Quasar.
      </p>
    </div>
    <div class="q-feature-item">
      <i class="icon fa fa-users"></i>
      <h4>
        Awesome ever-growing community
      </h4>
      <p>
        Whenever you got a problem you can't or don't know yet how to solve, visit Quasar forum or Gitter chat. The
        community is there to help you.
      </p>
    </div>
    <div class="q-feature-item">
      <i class="icon fa fa-arrows-alt"></i>
      <h4>
        Wide platform support
      </h4>
      <p>
        Google Chrome, Firefox, IE11/Edge, Safari, Opera, iOS, Android, Windows Phone, Blackberry.
      </p>
    </div>
    <div class="q-feature-item">
      <i class="icon fa fa-graduation-cap"></i>
      <h4>
        Great documentation
      </h4>
      <p>
        Finally, it's worth mentioning about the huge amount of time that is spent on writing great, bloat free, focused,
        complete documentation pages so that you can quickly pick up Quasar. There will be no room for confusion.
      </p>
    </div>
  </div>
</div>

<div class="q-actions">
  <div class="q-container">
    <div class="q-actions-item">
      <h3>Contribute</h3>
      <h4>Help Build Quasar</h4>
      <p>
        Quasar is and always will be 100% free and open-source under
        the MIT license. Fork it on GitHub and help make it bettter.
      </p>
      <a
        class="button"
        href="https://github.com/quasarframework/quasar"
        target="_blank"
      >Fork on Github</a>
    </div>

    <div class="q-actions-item">
      <h3>Donate</h3>
      <h4>Support Quasar Development</h4>
      <p>
        Help pay for dedicated dev time so that Quasar
        can move forward and evolve.
        <br>
        There's a
        <a
          href="https://github.com/quasarframework/quasar/issues?q=is%3Aissue+is%3Aopen+label%3Aproposal"
          target="_blank"
        >lot to look forward to</a>.
      </p>
      <a
        class="button"
        href="/support-quasar-framework.html"
      >Donate</a>
    </div>

    <div class="q-actions-item">
      <h3>Feedback</h3>
      <h4>Shout out your ideas.</h4>
      <p>
        Ideas are very important. Can something be improved? Would you like a new
        feature? Does a feature has something that is bothering you? Open up a Github
        issue and express your ideas.
      </p>
      <a
        class="button"
        href="https://github.com/quasarframework/quasar/issues"
        target="_blank"
      >Open issue on Github</a>
    </div>
  </div>
</div>

<%- partial('partials/standalone-bottom-navigation') %>
