<div id="hero">
  <p>
    <img src="<%- config.root %>images/responsive-logo.png">
  </p>
  <p class="framework-name">
    Quasar Framework <small>v<%- latest_quasar_version() %></small>
  </p>
  <p>
    SPA front-end framework on steroids, <strong>with VueJS</strong>.
    <br>
    Websites & native mobile Apps. Full Stack Toolkit.
  </p>
  <p class="buttons">
    <a href="<%- config.root %>guide/index.html" class="button">
      <i class="fa fa-flash"></i>
      Get started in under a minute
    </a>
  </p>
  <ul class="social-links">
    <li>
      <a href="https://twitter.com/quasarframework" class="twitter-follow-button" data-show-count="false" data-size="medium">Follow @quasarframework</a>
    </li>
    <li>
      <a class="github-button" href="https://github.com/rstoenescu/quasar-framework" data-style="medium" data-count-href="/rstoenescu/quasar-framework/stargazers" data-count-api="/repos/rstoenescu/quasar-framework#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star rstoenescu/quasar-framework on GitHub">Star</a>
    </li>
    <li>
      <a href="<%- config.root %>support-quasar-framework.html" class="button small support-donate">
        <i class="fa fa-ambulance"></i>
        Support Quasar
      </a>
    </li>
  </ul>
</div>

<div class="features main-features">
  <div class="feats">
    <div class="feat">
      <i class="icon fa fa-code-fork"></i>
      <h2>All Platforms in One Go</h2>
      <p>
        One source code for all platforms simultaneously: desktop/mobile website, native mobile apps.
      </p>
    </div>
    <div class="feat">
      <i class="icon fa fa-thumbs-o-up"></i>
      <h2>VueJs & ES6</h2>
      <p>
        ES6 Javascript. Leverage VueJs & NPM ecosystem easily. Support for *.vue single file components.
      </p>
    </div>
    <div class="feat">
      <i class="icon fa fa-gamepad"></i>
      <h2>Quasar Play App</h2>
      <p>
        Develop Apps with Hot Reload directly on your phone.
      </p>
    </div>
  </div>
</div>

<div class="features detailed-features">
  <div class="feats">
    <div class="feat">
      <i class="icon fa fa-hourglass-half"></i>
      <h2>Boilerplate</h2>
      <p>
        Out of the box App code boilerplate, build system, hot reload, linter, test setup, auto minification and more.
      </p>
    </div>
    <div class="feat">
      <i class="icon fa fa-bolt"></i>
      <h2>Speed & Efficiency</h2>
      <p>
        Quasar focuses on low memory footprint, efficiency and making Apps run really fast.
      </p>
    </div>
    <div class="feat">
      <i class="icon fa fa-arrows-alt"></i>
      <h2>Wide Support</h2>
      <p>iOS, Android, Windows Phone, Blackberry, Google Chrome, Firefox, IE/Edge.</p>
    </div>
    <div class="feat">
      <i class="icon fa fa-magic"></i>
      <h2>Themes</h2>
      <p>
        Full-featured Quasar CSS Framework. <strong>Material Design</strong> and <strong>iOS</strong> themes included.
      </p>
    </div>
    <div class="feat">
      <i class="icon fa fa-refresh"></i>
      <h2>Dev Hot Reload</h2>
      <p>
        More than just Live Reload. Preserve App state while updating in the browser.
      </p>
    </div>
    <div class="feat">
      <i class="icon fa fa-gears"></i>
      <h2>Built-in Components</h2>
      <p>
        Leverage large variety of built-in VueJs Quasar components which do most of the heavy-lifting of your App.
      </p>
    </div>
    <div class="feat">
      <i class="icon fa fa-book"></i>
      <h2>Great Documentation</h2>
      <p>
        Crystal clear documentation with examples, guides, tips and demos with source code available.
      </p>
    </div>
    <div class="feat">
      <i class="icon fa fa-github"></i>
      <h2>Open Source</h2>
      <p>
        Visit <strong><a href="<%- config.github %>" target="_blank">Github <i class="fa fa-github"></i></a></strong> page.
        Contributions are welcomed.
      </p>
    </div>
  </div>
</div>

<div id="footer">
  <p>
    Code licensed under the
    <a href="http://opensource.org/licenses/MIT" target="_blank">MIT License</a>
  </p>
  <p>
    Documentation licensed under the
    <a href="http://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0</a>
  </p>
  <p class="written-by">
    <i class="fa fa-code"></i> with <i class="fa fa-heart"></i> by
    <a href="https://github.com/rstoenescu" target="_blank">
      Razvan Stoenescu
      <i class="fa fa-bullhorn"></i>
    </a>
  </p>
</div>
