<%
  var withSidebar = page_has_sidebar(page);
  if (withSidebar) {
    var previousPage = previous_page(page);
    var nextPage     = next_page(page);
%>
    <%- partial('partials/sidebar') %>
<% } %>
<div class="content <%- page.type ? page.type + ' with-sidebar' : '' %>">
    <h1>
      <%- page.title %>
      <a href="https://github.com/rstoenescu/quasar-site/edit/master/source/<%- page.source %>" title="Edit Page on GitHub" target="_blank">
        Edit <i class="fa fa-pencil"></i>
      </a>
    </h1>
    <%- page.content %>
    <% if (withSidebar) { %>
      <div class="guide-links">
        <% if (previousPage) { %>
          <span>← <a href="<%- url_for(previousPage.path) %>"><%- previousPage.title %></a></span>
        <% } %>
        <% if (nextPage) { %>
          <span style="float:right"><a href="<%- url_for(nextPage.path) %>"><%- nextPage.title %></a> →</span>
        <% } %>
      </div>
    <% } %>
    <div class="footer">
      <div style="font-style: italic">
        Last updated: <%- (new Date(page.updated)).toDateString() %>
      </div>
      Caught a mistake or want to contribute to the documentation?
      <a href="https://github.com/rstoenescu/quasar-site/edit/master/source/<%- page.source %>" target="_blank">
        Edit this page on GitHub
        <i class="fa fa-pencil"></i>
      </a>
    </div>
</div>
