<%
  var withSidebar = page_has_sidebar(page);
  if (withSidebar) {
    var previousPage = previous_page(page);
    var nextPage     = next_page(page);
%>
    <%- partial('partials/sidebar') %>
<% } %>

<div class="content <%- page.type ? page.type + ' with-sidebar' : '' %>">
    <h1>
      <%- page.title %>
      <a href="https://github.com/rstoenescu/quasar-site/edit/master/source/<%- page.source %>" target="_blank">
        &nbsp;&nbsp;<i class="fa fa-pencil"></i>&nbsp;&nbsp;
      </a>
    </h1>
    <%- page.content %>
    <% if (withSidebar) { %>
      <div class="guide-links">
        <% if (previousPage) { %>
          <span>← <a href="<%- url_for(previousPage.path) %>"><%- previousPage.title %></a></span>
        <% } %>
        <% if (nextPage) { %>
          <span style="float:right"><a href="<%- url_for(nextPage.path) %>"><%- nextPage.title %></a> →</span>
        <% } %>
      </div>
    <% } %>
    <div class="footer">
      <hr>
      <div>
        Last updated: <%- (new Date(page.updated)).toDateString() %>
      </div>
      Caught a mistake or want to contribute to the documentation?
      <a href="https://github.com/rstoenescu/quasar-site/edit/master/source/<%- page.source %>" target="_blank">
        Suggest an edit on GitHub
        <i class="fa fa-pencil"></i>
      </a>
    </div>
</div>

<aside id="preview" style="display: none;">
  <div id="preview-chooser">
    <a data-theme="android" class="active"><i class="fa fa-android"></i></a>
    <a data-theme="ios"><i class="fa fa-apple"></i></a>
  </div>
  <div id="android-preview" class="theme active">
    <iframe id="android-iframe" frameborder="0"></iframe>
  </div>
  <div id="ios-preview" class="theme">
    <iframe id="ios-iframe" frameborder="0"></iframe>
  </div>
</aside>
