<%
  var previousPage = previous_page(page);
  var nextPage     = next_page(page);
%>

<div class="qwb-header" id="header">
  <div class="qwb-header-top qwb-container">
    <div class="qwb-header-navbar">
      <a class="qwb-menu-button"><i class="fa fa-bars"></i></a>
      <a id="qwb-logo" href="<%- config.root %>" title="v<%- latest_quasar_version() %>">
        <img src="https://raw.githubusercontent.com/quasarframework/quasar-art/master/dist/svg/quasar-logo-gradient.svg">
        Quasar
      </a>
      <%- partial('partials/menu') %>
    </div>
  </div>
</div>

<%- partial('partials/sidebar') %>

<div class="content">
  <h1>
    <%- page.title %>
    <a href="https://github.com/quasarframework/quasar-site/edit/dev/source/<%- page.source %>" target="_blank">
      &nbsp;&nbsp;<i class="fa fa-pencil"></i>&nbsp;&nbsp;
    </a>
  </h1>

  <%- page.content %>

  <% if (page.title === 'Stylus Variables') { %>
    <input
      id="search-variable"
      type="text"
      placeholder="Loading Stylus Variables..."
      disabled="disabled"
    >

    <table style="margin-top: 20px; width: 100%;">
      <thead>
        <tr>
            <th>Stylus Variable Name</th>
            <th>Material Default Value</th>
            <th>iOS Default Value</th>
        </tr>
      </thead>

      <tbody id="search-results">
        <tr id="search-loading" style="text-align: center;">
          <td colspan="3">
            <img src="/images/spinner.gif">
          </td>
        </tr>
      </tbody>
    </table>
  <% } %>

  <div class="guide-links">
    <% if (previousPage) { %>
      <span><a href="<%- url_for(previousPage.path) %>"><i class="fa fa-chevron-left"></i> <%- previousPage.title %></a></span>
    <% } %>
    <% if (nextPage) { %>
      <span style="float:right"><a href="<%- url_for(nextPage.path) %>"><%- nextPage.title %> <i class="fa fa-chevron-right"></i></a></span>
    <% } %>
  </div>

  <div class="footer">
    <hr>
    <div>
      Last updated: <%- (new Date(page.updated)).toDateString() %>
    </div>
    Caught a mistake or want to contribute to the documentation?
    <a href="https://github.com/quasarframework/quasar-site/edit/dev/source/<%- page.source %>" target="_blank">
      Suggest an edit on GitHub
      <i class="fa fa-pencil"></i>
    </a>
  </div>
</div>

<aside id="preview" style="display: none;">
  <div id="preview-chooser">
    <a data-theme="android" class="active"><i class="fa fa-android"></i></a>
    <a data-theme="apple"><i class="fa fa-apple"></i></a>
  </div>
  <div id="android-preview" class="theme active">
    <iframe id="android-iframe" frameborder="0"></iframe>
    <a class="desktop-launcher" target="_blank"><i class="fa fa-desktop"></i><br>Desktop View</a>
    <a class="view-source" target="_blank"><i class="fa fa-file-code-o"></i><br>View Source</a>
  </div>
  <div id="apple-preview" class="theme">
    <iframe id="apple-iframe" frameborder="0"></iframe>
    <img class="platform-statusbar" src="/images/ios-statusbar.png">
    <a class="desktop-launcher" target="_blank"><i class="fa fa-desktop"></i><br>Desktop View</a>
    <a class="view-source" target="_blank"><i class="fa fa-file-code-o"></i><br>View Source</a>
  </div>
</aside>
