<div class="row">
  <div id="qwb-sidebar" class="collapsible lg col">
    <div id="qwb-sidebar-toggle" class="btn toggle simple compact iconized floating top left inverted">
      <i class="fa fa-bars"></i>
    </div>
    <%- partial('partials/sidebar') %>
  </div>

  <div id="qwb-page" class="col">
    <%- partial('partials/page-content') %>
    <%- partial('partials/footer') %>
  </div>

  <div id="qwb-preview">
    <%- partial('partials/preview') %>
  </div>
</div>

<%- partial('partials/search') %>
