<div class="qwb-container">
  <div class="qwb-row">
    <div id="qwb-sidebar-toggle" class="qwb-btn qwb-toggle only xs sm simple fixed top left inverted">
      <i class="fa fa-bars"></i>
    </div>
    <div id="qwb-sidebar" class="qwb-item">
      <%- partial('partials/sidebar') %>
    </div>

    <div id="qwb-page" class="qwb-item">
      <%- partial('partials/page-content') %>
      <%- partial('partials/footer') %>
    </div>

    <div id="qwb-preview" class="qwb-item">
      <%- partial('partials/preview') %>
    </div>
  </div>

  <%- partial('partials/search') %>
</div>
